*,
*::before,
*::after {
    box-sizing: border-box
}

img{
    margin-bottom: 0;
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
}

.container-one.container,
.container-header.container,
.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1158px;
}


.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
                0px 1px 1px rgba(46, 47, 66, 0.16), 
                0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.logo span {
    color: #2E2F42;
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;  
    margin: 0;
    padding: 0;
}

.nav-list:last-child {
    margin-right: 0;
}


.nav-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-item {
    position: relative;
}

.nav-item.active-page {
    position: relative;
    color: #404bbf;
}


.active-page::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    position: absolute;
    bottom: 0;
    bottom: -1px;
}

.nav-item:hover,
.nav-item:focus {
    color: #404BBF;
}

.address-list {
    list-style-type: none;
    display: flex;
    gap: 40px;
    align-items: center;
    margin-right: 40px;
}

address {
    margin-left: auto;
}

h1, h2, h3, p {
    margin: 0;
}

.address-list:last-child {
    margin-right: 0;
}

.address-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    white-space: nowrap;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-header {
    display: flex;
    align-items: center;
    width: 100%;
    
}

.address-item:hover,
.address-item:focus {
    color: #404BBF;
}


.container-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px; 
}
    
.section-one {
    background-color: #2E2F42;
    padding: 188px 0;
    width: 100%;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.titel-one {
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    max-width: 496px;
}

.button {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    margin: auto;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #404BBF;
}
.titel-two {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    text-transform: capitalize;
    margin-bottom: 72px;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-two-list {
   list-style-type: none;
   display: flex;
   gap: 24px;
   padding-left: 0;
   margin: 0;
}

.section-two {
    padding: 120px 0;
    width: 100%;
}

.section-two-list-item {
    width: calc((100% - 72px) / 4);
}

.section-two-icons {
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 24px;
    background-color: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
}

.section-two-icons .item {
    justify-content: center;
}


.section-three {
    background-color: #F4F4FD;
    padding: 120px 0 120px 0;
    width: 100%;
}

.titel-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.soc-net-list {
    list-style-type: none;
    display: flex;
    gap: 24px;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.soc-net-list .item {
    width: 40px;
    height: 40px;
}

.media-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
    background-color: #404bbf;
}

.icons {
    fill: #f4f4fd; 
}


.paragraph {
    font-size: 16px;
    letter-spacing: 0.02em;
}



.body-footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}


footer {
    background-color: #2E2F42;
}




.section-three-list-item {
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;  
    
    box-shadow: 0px 2px 1px 0px #2E2F4214, 0px 1px 1px 0px #2E2F4229, 0px 1px 6px 0px #2E2F4214;
}



.section-three-list-item-text {
    display: block;
    text-align: center;
    padding: 32px 0;
}

.section-three-list{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0;
    margin: 0;

}

.section-three-list-item:last-child {
    margin-right: 0;
}

.section-four-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: space-between;
    padding-left: 0;
}

.section-four-list-item {
    width: calc((100% - 48px) / 3);
    border-width: 0 1px 1px 1px;
    padding-left: 0;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-four-list-item:hover {
    box-shadow: 0px 2px 1px 0px #2E2F4214, 
                0px 1px 1px 0px #2E2F4229, 
                0px 1px 6px 0px #2E2F4214;
}

.section-four-list-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   
}
.section-four {
    padding: 120px 0 120px 0;
}

.section-four-list-img {
    position: relative;
    overflow: hidden;
}

.section-four-list-item:hover .cover-text {
    transform: translate(0);
}

.cover-text {
    position: absolute;
    top: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F4F4FD;
    background-color: #4D5AE5;
    padding: 40px 32px;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-container {
    display: flex;
    align-items: baseline;
}

.footer span {
    color: #f4f4fd;
}

.footer {
    padding: 100px 0;
} 


.body-footer {
    width: 264px; 
}

.logo-footer {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-el-one {
    width: 264px;
    margin-right: 120px;
    
}



.social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.soc-net-footer {
    display: flex;
    gap: 16px;
}

.soc-net-footer .item {
    width: 40px;
    height: 40px;
    list-style: none;
}

.media-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link-footer:hover,
.media-link-footer:focus {
    background-color: #31d0aa;
}

.footer-el-three {
    margin-left: 80px;
}

.footer-form {
    display: flex;
    gap: 24px;
}


.subscribe {
    background-color: transparent;
    width: 264px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    padding-left: 16px;
    outline: transparent; 
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #ffffff;
}   
    
.subscribe::placeholder {
    color: #ffffff;
    }


.btn-subscribe {
    padding: 8px 64px 8px 24px;
    height: 40px;
    position: relative;
    min-width: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe-icon {
    position: absolute;
    right: 24px;
    fill: #FFFFFF;
    margin-left: 16px;
}


.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
} 

/* .is-open {
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
    visibility: visible; 
} */

.modal {
    width: 408px;
    min-height: 584px;
    background-color: #fcfcfc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    box-shadow:
            0px 1px 1px 0px #00000024,
            0px 1px 3px 0px #0000001F,
            0px 2px 1px 0px #00000033;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.button-close {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid #0000001A;
    border-radius: 50%;
    background-color: #e7e9fc;
    position: absolute;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover .modal-close-icon use{
    fill: white;
}

.button-close:focus .modal-close-icon use {
    fill: white;
}

.button-close:hover {
    background-color: #404BBF;
    border: none;
}

.button-close:focus {
    background-color: #404bbf;
    border: none;
}

.modal-form-element {
    margin-bottom: 8px;
}

.modal-titel {
    text-align: center;
    align-self: center;
    width: 360px;
    
    margin-bottom: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.modal-input {
    height: 40px;
    border-radius: 4px;
    width: 100%;
    border: 1px solid #2E2F4266;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-label {
    display: block;
    margin-bottom: 4px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8E8F99;

}

.textarea {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    resize: none;
    position: relative;
    color: #2E2F4266;
    padding: 8px 16px;
    height: 120px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-field {
    position: relative;
    
}

 .modal-input:focus {
    border: 1px solid #4D5AE5;
 }

 .modal-input:focus + .modal-icon {
    fill: #4D5AE5;
 }

 .modal-button {
    display: block;
    align-self: center;
 }

 .modal-comment {
    margin-bottom: 16px;
 }

 .modal-policy {
    margin-bottom: 24px;
 }

 .modal-privacy-text {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 32px;
    color: #8e8f99;
 }


 .modal-privacy-text span {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid #2E2F4266;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.modal-privacy-agree:checked + .modal-privacy-text span {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.privacy-link {
    color: #4d5ae5;
    text-decoration: underline;
    margin-left: 4px;
}

.icon-mob-menu {
    display: none;
}

.mob-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: 0;
    display: none;
}

.mob-menu-container {
    display: none;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container {
        max-width: 320px;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .icon-mob-menu {
        display: inline-flex;
        background-color: transparent;
        border: none;
        
    }
    

    .mob-menu-container {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        padding: 72px 24px 40px 16px;
    }

    .mob-nav-list {
        list-style: none;
    }

    .mob-menu {
        position: absolute;
        
    }
    
    .btn-close-mob-menu {
        background-color: #E7E9FC;
        border: 1px solid #2E2F42;
    }

    .mob-nav-list-item {
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: left;
        margin-bottom: 40px;
    }
    
    .mob-address-list {
        list-style: none;
    }
    
    .mob-nav-item {
        text-decoration: none;
        color: #2E2F42;
        
    }

    
    .mob-address {
        text-decoration: none;
    }
        
    .mob-address-item {
        font-family: Roboto;
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color: #434455;
        text-decoration: none;
        font-style: normal;
    }
    
    .container-header {
        display: flex;
        justify-content: space-between;   
        
    }   
    
    .active-item,
    .tel-item {
        color: #404BBF;
    }

    .mob-address-list:first-child {
        margin-top: 168px;
    }

    .mob-address-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .mob-soc-net {
        margin-top: 48px;
        gap: 40px;
    }
        
    .nav-menu {
        padding: 16px;
        
    }

    .nav-list, .address-list {
        display: none;
    }

    .section-one {
        padding: 72px 0;
    }

    .titel-one {
        font-size: 36px;
        width: 216px;
    }

    .section-two {
        padding: 96px 0;
    }

    .section-two-icons {
        display: none;
        visibility: hidden;
    }
    
    .body-section-two {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;
        
    }

    .section-two-list {
        flex-direction: column;
        gap: 72px;
    }

    .section-two-list-item {
        width: 100%;
    }

    .section-three {
        padding: 96px 0;
    }

    .titel-three-mobile {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        text-align: center;
    }

    .section-three-list {
        flex-direction: column;
        gap: 72px;
        align-items: center;
    }
    
    .section-four {
        padding: 96px 0;
    }

    .section-four-list {
        flex-direction: column;
        
    }

    .section-four-list-item {
        width: 100%;
        
    }
    
    .footer-container {
        max-width: 320px;
        padding: 0 16px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
        justify-content: center;
        
    }

    .footer-el-one,
    .footer-el-two,
    .footer-el-three {
        margin: 0;
        display: block;
        width: 100%
        
    }

    .soc-net-footer {
        display: flex;
        justify-content: center;
        
    }
    
    .footer-form {
        display: flex;
        flex-direction: column;

    }

    .logo-footer,
    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo-footer {
        width: 100%;
    }

    .modal {
        width: 288px;
        min-height: 623px;
        padding: 72px 16px;
    }

    .modal-titel {
        width: 256px;
    }
    
}

   

@media screen and (min-width: 768px) and (max-width: 1157px) {

    .container {
        max-width: 768px;
        
        
    }

    .titel-one {
        font-size: 56px;
        max-width: 496px;
    }

    .section-two {
        padding: 96px 0;
    }
 
    .body-section-two {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: left;

    }

    .section-two-icons {
        display: none;
        visibility: hidden;
    }

    .section-two-list {
        flex-wrap: wrap;
        gap: 64px 24px;
        
    }

    .section-two-list-item {
        width: calc((100% - 24px) / 2);
    }

    .section-three {
        padding: 96px 0;
    }

    .titel-three-mobile {
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
        
    }


    .section-three-list {
        flex-wrap: wrap;
        gap: 64px 24px;
        justify-content: center;
        align-items: center;
        
    }
    
    .section-four {
        padding: 96px 0;
    }

    .section-four-list {
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
    }

    .section-four-list-item {
        width: calc((100% - 24px) / 2);
    }

    .address-list {
        display: block;
    }

    .address-item {
        font-size: 12px;
    }

    .footer-container {
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
        padding-left: 92px;     

    }
    
    .footer-el-one,
    .footer-el-two,
    .footer-el-three {
        margin: 0;
    }
}

@media screen and (min-width: 1158px) {
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    }

    /* я не дуже розумію, навіщо дублювати знову всі стилі, які вже стоять за замовчуванням, 
    якщо можна просто скинути стилі у планшетній версії при досягнення max-width */
}



@media screen and (min-resolution: 2dppx;) {
    .section-one {
            background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-img-2x.jpg);
    }

    

}